.about{
        /* font-family: 'Spartan', sans-serif; */
        margin: 10px;
        padding: 9px;
        font-size: 45px;
        word-spacing: 10px;
        /* background-color: #8f8f8f; */
        color: #2c2c2c;
        /* background: rgb(245, 167, 248); */
        text-decoration: underline;
        width: 300px;
        font-weight: 500;
        font-family: 'Zen Dots', cursive;
        cursor: pointer;
}


#more {display: none;}
.abouttext{
    margin-bottom: 100px;
}
.aboutline{
    text-align: left;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    word-spacing: 20px;
    /* letter-spacing: 6px; */
    /* font-weight: bolder; */
    background-color: rgba(180, 180, 180, 0.2);
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu Condensed', sans-serif;
    /* font-family: 'Zen Dots', cursive; */
    /* font-family: 'Kaushan Script', cursive; */
}
.aboutspan{
    margin-top: 40px;
}
.readmore{
    cursor: pointer;
}