h1{
    font-size: 36px;
    font-weight: 500;
}
.text{
    color: rgb(0, 0, 0);
}

.cimg {
    height: 400px;
    width: 1000px;
    padding: 30px;
    /* margin: 30px; */
    /* margin-left: 102px; */
    background-repeat: no-repeat;
    margin-right: 50%;
}

.w3-content {max-width: 50%;
    position: relative;
    margin: auto;
    }
.description{
    padding-left: 5%;
    padding-right: 5%;
    color:black;
}
.material-icons{
    margin: 2%;
}

.price{
    margin-left: 68%;
}

.light{
    /* font-family: 'Train One', cursive; */
    /* font-family: 'Source Code Pro', monospace; */
    /* font-family: 'Pacifico', cursive; */
    animation: animate 2.1s linear infinite;
}

@keyframes animate
{
    0%
    {
            color: rgb(0, 0, 0);
            text-shadow: none;
    }
    100%
    {
      color: rgb(149, 159, 255);
      text-shadow: 0 0 10px rgb(149, 159, 255),
                   0 0 20px rgb(149, 159, 255),
                   0 0 40px rgb(149, 159, 255),
                   0 0 60px rgb(149, 159, 255),
                   0 0 80px rgb(149, 159, 255),
                   0 0 100px rgb(149, 159, 255),


    }
}